# Stack Overflow Survey Results 2021 Analysis

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/survey_results_public.csv', index_col='ResponseId')
schema_df = pd.read_csv('data/survey_results_schema.csv',index_col='qname')

## Explore 

What languages are earning higher salaries ?

In [3]:
high_salary = (df['ConvertedCompYearly'] > 70000)

In [4]:
df.loc[high_salary,['Country','LanguageHaveWorkedWith','ConvertedCompYearly']]

,Country,LanguageHaveWorkedWith,ConvertedCompYearly
ResponseId,,,
13,Germany,C;C++;Java;Perl;Ruby,77290.0
19,Singapore,C++;Python,160932.0
25,Germany,C++;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Ty...,77831.0
27,Switzerland,C++;Python,81319.0
32,Israel,Bash/Shell;Go;Java;Node.js;Python;Scala;SQL,122580.0
...,...,...,...
83431,United States of America,APL;Clojure;LISP;Python;Ruby;SQL;TypeScript,125000.0
83433,Canada,Ruby,80169.0
83435,United States of America,Clojure;Kotlin;SQL,160500.0
83437,United States of America,Groovy;Java;Python,90000.0
83438,Canada,Bash/Shell;JavaScript;Node.js;Python,816816.0

In [5]:
countries = ['United States of America', 'India', 'Germany', 'United Kingdom of Great Britain and Northern Ireland', 'Canada']

In [10]:
filt = df['Country'].isin(countries)
df.loc[filt, 'Country']

ResponseId
5        United Kingdom of Great Britain and Northern I...
6                                 United States of America
7                                 United States of America
9                                                    India
11       United Kingdom of Great Britain and Northern I...
                               ...
83431                             United States of America
83433                                               Canada
83435                             United States of America
83437                             United States of America
83438                                               Canada
Name: Country, Length: 38911, dtype: object

In [11]:
lang_filt = df['LanguageHaveWorkedWith'].str.contains('Python',na=False)

In [12]:
df.loc[lang_filt,'LanguageHaveWorkedWith']

ResponseId
2                                        JavaScript;Python
3                                 Assembly;C;Python;R;Rust
5                           Bash/Shell;HTML/CSS;Python;SQL
6        C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...
10                                              C++;Python
                               ...
83430               HTML/CSS;PHP;PowerShell;Python;SQL;VBA
83431          APL;Clojure;LISP;Python;Ruby;SQL;TypeScript
83432    C#;Dart;HTML/CSS;Java;JavaScript;Kotlin;Node.j...
83437                                   Groovy;Java;Python
83438                 Bash/Shell;JavaScript;Node.js;Python
Name: LanguageHaveWorkedWith, Length: 39792, dtype: object

In [13]:
df.rename(columns = {
    "ConvertedCompYearly":"SalaryUSD"
}, inplace=True)

Remap "Trans":

In [14]:
df["Trans"].map({'Yes':True, 'No':False}).value_counts()

False    77275
True      1035
Name: Trans, dtype: int64

This may get other values NaN

So use replace

In [15]:
df["Trans"].replace({'Yes':True, 'No':False}).value_counts()

False                     77275
Prefer not to say          1764
True                       1035
Or, in your own words:      604
Name: Trans, dtype: int64